.nav {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: fixed;
    z-index: 100;
    height: 64px;
    width: min(1920px, 100vw);
    background-color: #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: min(1.5rem, 6vmin);
    padding: 0 1rem 0 1rem;
}

.mainOptions {
    position: absolute;
    right: 40px;
    width: 200px;
}

.options {
    margin-left: 20px;
}

.icon {
    position: absolute;
    left: 20px;
    margin-right: 10px;
    width: 200px;
}

.iconContainer {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.link {
    color: black;
    text-decoration: none;
}

#menu {
    z-index: 4;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 64px;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px 0;
}

.ruler {
    height: 1px;
    width: 175px;
    background: black;
}

#footer {
    width: min(1920px, 100vw);
    background-color: #2e2e2e;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#footerflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100px;
}

.footerlink {
    margin: 15px;
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 850px) {
    .container {
        justify-content: flex-end;
    }
    .mainOptions {
        display: none;
    }
    .icon {
        width: auto;
        margin: 0;
    }
}

@media only screen and (min-width: 1921px) {
    #menu {
        top: 64px;
        left: auto;
        transform: translateX(-860px);
    }
}